@charset "utf-8";

@mixin sprite-width($sprite) {
	width: map-get($sprite, 'width');
}

@mixin sprite-height($sprite) {
	height: map-get($sprite, 'height');
}

@mixin sprite-position($sprite) {
	background-position: map-get($sprite, 'offset-x') map-get($sprite, 'offset-y');
}

@mixin sprite-image($sprite) {
	background-image: url(map-get($sprite, 'image'));
}

@mixin sprite($sprite) {
	// @include sprite-image($sprite);
	@include sprite-position($sprite);
	@include sprite-width($sprite);
	@include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
but can be overridden inside of SCSS

@include sprites(map-get($spritesheet, 'sprites'));
*/
@mixin sprites($sprites) {
	@each $sprite in $sprites {
		$sprite-name: map-get($sprite, 'name');
		.#{$sprite-name} {
			@include sprite($sprite);
		}
	}
}


@import 
		"icon";


[class^="sprite-icon"]{
	// position: absolute;
	display: inline-block;
	background-image: url("img/icon.png");
	vertical-align: middle;
}


@include sprites(map-get($spritesheet, 'sprites'));