@charset "utf-8";

// defaultボタン
//
// 用途用途用途用途用途用途用途用途用途
//
// Markup:
// <a class="btn-default {{modifier_class}}" href="#">defaultボタン</a>
// <button class="btn-default {{modifier_class}}">defaultボタン</button>
// 
// :hover - hover style
// 
// Styleguide component.button.default


.btn-delete{
  $_btn-color_delete: #cb1b1b;
  $_btn-color_delete__hover: lighten($_btn-color_delete, 10%);
  color: #fff;
  background: $_btn-color_delete;
  &:hover{
    background-color: $_btn-color_delete__hover;
  }
}
