@charset "utf-8";

// -----------------------------------------------------------
// variable
// -----------------------------------------------------------
$__tbl-color-border:$_color-line_light;

$__tbl-color-cell:#fff;


$__tbl-color-cell-head_gray: #ccc;
$__tbl-color-cell-head_light-gray: $_color-base;
$__tbl-color-cell-head_blue: $_color-blue;
$__tbl-color-cell_stripe: $_color-base;
