@charset "utf-8";
// バックリンク
//
// 「戻る」リンクのモジュールになります。
//
// Markup:
// <div class="mod-link-back">
//   <a href="">戻るリンク</a>
// </div>
// 
// Styleguide module.link.back

.mod-link-back {
  a{
    display: inline-block;
    margin-right: 0.5em;
    &:before{
      @include icon-arrow($color:$_color-text_light, $size:5px, $arrowNegativeDirection:"right");
      margin-right: 0.3em;
    }
  }
}